body{
    background-color: #1c1b1b !important;
}

.izq{
    background-color: #303030;
    width: 20%;
    height: 100%;
    position:  fixed;
    float: left;
    padding: 1.5rem;
    text-align: center;
}

.der{
    width: 80%;
    height: 100%;
    float: right;
    padding: 1.5rem;
    text-align: center;
}