body{
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Copperplate Gothic Bold';
}

.izq{
    height: 100%;
    position:  fixed;
    background-color: #AFABAB;
}

@font-face {
    font-family: "Copperplate Gothic Bold";
    src: url("../copperplategothicbold.ttf");
}