body{
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Copperplate Gothic Bold';
}

.izq{
    height: 100%;
    position:  fixed;
    background-color: #AFABAB;
}

.logo{
    width: 350px !important;
}

.row{
    --bs-gutter-x: 0 !important;
}

@font-face {
    font-family: "Copperplate Gothic Bold";
    src: url("../copperplategothicbold.ttf");
}