/* Estilos del inventario */
.imagen{
    width: 180px !important;
    height: 180px !important;
    object-fit: contain !important;
}

/* Fichas de productos */
.objeto{
    background-color: #F2F2F2 !important;
    height: 330px !important;
    width: 550px !important;
    box-shadow: rgba(14, 30, 37, 0.6) 0px 2px 4px 0px, rgba(14, 30, 37, 0.6) 0px 2px 16px 0px;
}
/* Imagen del producto */
.bgimagen{
    height: 200px !important;
}
/* Nombre del producto */
.nombre{
    min-height: 60px !important;
}
/* Datos del Objeto */
.contenido{
    height: 180px !important;
}

/* Eliminar el margen inferior de los titulos */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0px;
}


