{% extends 'base.html' %}
{% load static %}

{% block statico %}

{% endblock %}

{% block titulo %}
    Registro
{% endblock %}

{% block cuerpo %}
    <div class="main">
        <div class="logeo">
            <form method="post">{% csrf_token %}
                <h5>Nombre de Usuario</h5>
                <input type="text" name="usuario" autocomplete="off" required maxlength="30"> <br><br>
                <h5>Contraseña</h5>
                <input type="password" name="clave" autocomplete="off" required maxlength="10"> <br><br>
                <h5>Clave de Seguridad</h5>
                <input type="password" name="cseguridad" autocomplete="off" required maxlength="10"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <a href="{% url 'logeo' %}"> Iniciar Sesión </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Registrarse">
            </form>
        </div>
        <div class="fondo"></div>
    </div>
{% endblock %}