{% extends 'base.html' %}
{% load static %}

{% block statico %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/inventario.css' %}?{% now 'U' %}">
{% endblock %}

{% block titulo %}
    Inventario
{% endblock %}

{% block cuerpo %}
    <div class="izq">
        <form method="POST"> {% csrf_token %}
            <input type="hidden" name="accion" value="agregarM">
            <input type="submit" class="acciones btn btn-outline-primary" value="Agregar Material"> 
        </form>
        <form method="POST"> {% csrf_token %}
            <input type="hidden" name="accion" value="agregarP">
            <input type="submit" class="acciones btn btn-outline-warning" value="Agregar Producto"> 
        </form>
        <form method="POST"> {% csrf_token %}
            <input type="hidden" name="accion" value="consultar">
            <input type="submit" class="acciones btn btn-outline-success" value="Consultar"> 
        </form>
        <br><br><br>
        <br><br><br>
        {% if errormaterial == True %}
            <h5>ERROR, el material a eliminar es parte de algunos productos registrados, elimine las referencias</h5>
        {% endif %}
    </div>
    <div class="der">
        {% for producto in productos %}
            <div class="objeto">
                <div class="imagen">
                    <img src="{{ producto.imagen }}" alt="">
                </div>
                <h5>{{ producto.nombre }}</h5> 
                <h6> Precio: {{ producto.precio }}$ <br>
                Categoria: {{ producto.categoria }} <br>
                Identificacion: P{{ producto.cod }}</h6>
                
                <form method="POST"> {% csrf_token %}
                    <input type="hidden" name="accion" value="modificarP">
                    <input type="hidden" name="codigo" value="{{producto.cod}}">
                    <input class="btn btn-outline-info" style="float: left;" type="submit" value="Modificar">
                </form>
                <form method="POST"> {% csrf_token %}
                    <input type="hidden" name="accion" value="eliminarP">
                    <input type="hidden" name="codigo" value="{{producto.cod}}">
                    <input class="btn btn-outline-danger" style="float: right" type="submit" value="X">
                </form>
            </div>
        {% endfor %}
        {% for material in materiales %}
            <div class="objeto">
                <div class="imagen">
                    <img src="{{ material.imagen }}" alt="">
                </div>
                <h5>{{ material.nombre }}</h5> 
                <h6> Precio: {{ material.precio }}$ <br>
                Corte: {{ material.corte }} <br>
                Identificacion: P{{ material.cod }} </h6>
                <form method="POST"> {% csrf_token %}
                    <input type="hidden" name="accion" value="modificarM">
                    <input type="hidden" name="codigo" value="{{material.cod}}">
                    <input class="btn btn-outline-info" style="float: left;" type="submit" value="Modificar">
                </form>
                <form method="POST"> {% csrf_token %}
                    <input type="hidden" name="accion" value="eliminarM">
                    <input type="hidden" name="codigo" value="{{material.cod}}">
                    <input class="btn btn-outline-danger" style="float: right" type="submit" value="X">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}